pre {
    overflow: auto;
    background: #000;
    color: #fff;
    padding-left: 10px;
}

ul {
    list-style: inherit;
}

li.no_style {
    list-style: none;
}

fieldset {
    background-color: #f6f6f2;
    border: none;
    text-align: left;
}

fieldset#details_description {
    background-color: #f6f6f2;
    display: block;
    float: left;
    max-width: 40%;
}

fieldset#details_chart {
    background-color: #f6f6f2;
    display: block;
    float: right;
    max-width: 60%;
}

legend {
    font-size: 12px;
    font-weight: bold;

}

sup {
    font-size: 6px;
}

#main {
    margin: 0px auto;
}

#inner {
    width: 100%;
}

#demo_text{
    font-size: 18px;
}

#map {
    width: 100%;
    margin-top: 5px;
    float: none;
    clear: both;
}

#map_and_comps {
    width: 100%;
    float: left;
    margin-left: 5px;
}

#map_canvas {
    height: 400px;
}

#map div#details {
    margin-left: 5px;
    width: 100%;
    float: left;
    clear: right;
}

#comps, #regions {
    font-size: 11px;
}

#comps table, #regions table {
    text-align: left;
    font-size: 12px;
    border-collapse: collapse;
}
#comps table tr td, #comps table tr th {
    border: none;
}
#regions table tr td, #regions table tr th {
    border: none;
}

#comps table tbody td:first-child {
    text-align: center;
}

#comps table tbody tr:hover, #regions table tbody tr:hover {
    background-color: #757575;
    color: #ffffff;
    cursor: pointer;
}

#comps table thead th:first-child, #regions table thead th:first-child {
    border-radius: 10px 0 0 0;
    overflow: hidden;
}
#comps table thead th:last-child, #regions table thead th:last-child {
    border-radius: 0 10px 0 0;
    overflow: hidden;
}

#comps table th, #comps table td {
    padding: 10px;
}
#regions table th, #regions table td {
    padding: 10px;
}

#comps table th, #regions table th {
    border-bottom: 3px solid #CCCCCC;
}

#comps table td, #regions table td {
    border-bottom: 1px solid #CCCCCC;
}

div.map_address div.title {
    font-weight: bold;
    font-size: 12px;
}

div.map_address div.options {
    margin-top: 4px;
}

div.map_address div.options span {
    text-decoration: underline;
    cursor: pointer;
    color: #101dd4;
    margin-right: 3px;
}

table#property_details {
    margin-bottom: 5px;
}

#property_details tbody tr th {
    text-align: left;
}
#details table tr td, #details table tr th {
    border: none;
}

#property_details td {
    text-align: left;
    margin-right: 5px;
}

.zillow {
    color: #669922;
}

.zestimate_text {
    font-size: 12px;
}

.zillow_link {
    padding-top: 4px;
}
