{% set labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L',
                 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X',
                 'Y', 'Z'] %}
<h2>{{ message }}</h2>
{% if error == 0 %}
    <div id="main">
        <div id="inner">
            <div id="map">
                <div id="details">
                    <fieldset id="details_description">
                        <legend>{% trans %} Property Details {% endtrans %}</legend>
                        <table id="property_details">
                            <tbody>
                            <tr>
                                <th>{% trans %}Zip: {% endtrans %}</th>
                                <td>{{ property.address.zipcode }}</td>

                                <th>{% trans %}State: {% endtrans %}</th>
                                <td>{{ property.address.state }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Use: {% endtrans %}</th>
                                <td>{{ property.useCode }}</td>

                                <th>{% trans %}Built: {% endtrans %}</th>
                                <td>{{ property.yearBuilt }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Bed: {% endtrans %}</th>
                                <td>{{ property.bedrooms }}</td>

                                <th>{% trans %}Bath: {% endtrans %}</th>
                                <td>{{ property.bathrooms }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}House Size, Ft&sup2;: {% endtrans %}</th>
                                <td>{{ property.finishedSqFt }}</td>

                                <th>{% trans %}Lot Size, Ft&sup2;: {% endtrans %}</th>
                                <td>{{ property.lotSizeSqFt }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Last Sold Date: {% endtrans %}</th>
                                <td>{{ property.lastSoldDate }}</td>

                                <th>{% trans %}  {% endtrans %}Last Sold Price: </th>
                                <td>{{ property.lastSoldPrice|price }}</td>
                            </tr>
                            <tr class="zestimate_text">
                                <th><span class="zillow zestimate">{% trans %} Zestimate {% endtrans %}<sup>&reg;</sup>:</span></th>
                                <td colspan="3">
                                    {{ property.zestimate.amount|price }}&nbsp;
                                    {% trans %} as of {% endtrans %}&nbsp;{{ property.zestimate["last-updated"] }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="zillow_link">
                            {% trans %} See more home details on {% endtrans %}&nbsp;<a href="{{ property.links.homedetails }}">Zillow.com</a>
                        </div>
                    </fieldset>
                    <fieldset id="details_chart">
                        <legend>{{ chart_period }}&nbsp;{% trans %} Year Value Change {% endtrans %}</legend>
                        <img id="zestimate" src="{{ chart_url }}" alt="no historical zestimate available" />
                        <div class="zillow_link">
                            {% trans %} See more graphs and data on {% endtrans %}&nbsp;<a href="{{ property.links.graphsanddata }}">Zillow.com</a>
                        </div>
                    </fieldset>
                </div>
                <div id="map_and_comps">
                    <div id="map_canvas"></div>
                    <div>
                        <fieldset id="comps">
                            <legend>{% trans %} Comparables {% endtrans %}</legend>
                            {% if comps|length > 0 %}
                                <table>
                                    <thead>
                                    <tr>
                                        <th>{% trans %} Place Mark {% endtrans %}</th>
                                        <th>{% trans %} Street {% endtrans %}</th>
                                        <th>{% trans %} City {% endtrans %}</th>
                                        <th>{% trans %} Bed {% endtrans %}</th>
                                        <th>{% trans %} Bath {% endtrans %}</th>
                                        <th>{% trans %} Lot Size, Ft&sup2; {% endtrans %}</th>
                                        <th>{% trans %} House Size, Ft&sup2; {% endtrans %}</th>
                                        <th>{% trans %} Last Sold {% endtrans %}</th>
                                        <th>{% trans %} Last Price {% endtrans %}</th>
                                        <th>{% trans %} Zestimate {% endtrans %}<sup>&reg;</sup></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for comp in comps %}
                                        <tr title="{% trans %} Click to view this propertie&rsquo;s details {% endtrans %}">
                                            <td>
                                                <b>{{ labels[loop.index-1] }}</b>
                                            </td>
                                            <td>
                                                <a href="{{ path('zillow.property', {'street': comp.address.street|url_encode, 'zip': comp.address.zipcode}) }}">
                                                    {{ comp.address.street }}
                                                </a>
                                            </td>
                                            <td>{{ comp.address.city }}</td>
                                            <td>{{ comp.bedrooms }}</td>
                                            <td>{{ comp.bathrooms }}</td>
                                            <td>{{ comp.lotSizeSqFt }}</td>
                                            <td>{{ comp.finishedSqFt }}</td>
                                            <td>{{ comp.lastSoldDate }}</td>
                                            <td>{{ comp.lastSoldPrice|price }}</td>
                                            <td>{{ comp.zestimate.amount|price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="zillow_link">
                                    {% trans %} See more comparables on {% endtrans %}&nbsp;
                                    <a href="{{ property.links.comparables }}">Zillow.com</a>
                                </div>
                            {% else %}
                                <div>
                                    <img src="{{ module_path }}/images/no_data.png" alt="No data" />
                                </div>
                            {% endif %}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dia">
        <div id="street_view"></div>
    </div>
{% endif %}